.body {
    background-color: $white;
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    position: relative;
}

.background {
    position: absolute;
    background-color: $very-pale-blue;
    height: 300px;
    width: 100%;
    z-index: -1;
    top: 0;
}
