.cards {
    &__title {
        color: var(--dark-grayish-blue);
        letter-spacing: 1px;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 26px;
        column-gap: 26px;
    }
}

.card {
    @include card;
}
