.main-socials {

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 100px;

        &--title {
            color: var(--very-dark);
            margin-top: 0;
        }

        &--paragraph {
            color: var(--dark-grayish-blue);
            font-weight: 700;
        }

        &--button {
            &-container {
                display: flex;
                align-items: center;
           }

           &-text {
            color: var(--dark-grayish-blue);
            font-weight: 700;
           }

           &-background {
               align-items: center;
               background: var(--toggle-light);
               border-radius: 30px;
               border: none;
               cursor: pointer;
               margin-left: 10px;
               width: 50px;
               height: 26px;
               display: flex;
               position: relative;
               &:hover {
                   background: linear-gradient(76deg, rgba(55,143,230,1) 24%, rgba(62,218,130,1) 68%);
               }
           }

           &-switcher {
               background-color: var(--very-pale-blue);
               border: none;
               position: absolute;
               left: 6px;
               border-radius: 50%;
               height: 20px;
               width: 20px;
           }
        }
    }

    &__list {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 26px;

        .social {
            align-items: center;
            background-color: var(--light-grayish-blue);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 250px;
            position: relative;

            &:hover {
                background: var(--hover-color);
            }

            &::before {
                border-radius: 8px 8px 0 0 ;
                content: '';
                display: inline-block;
                height: 4px;
                width: 100%;
                position: absolute;
                top:0;
            }

            &-fb {
                @include social-card;

                &::before {
                    background-color: $facebook;
                }
            }

            &-twit {
                @include social-card;

                &::before {
                    background-color: $twitter;
                }
            }

            &-inst {
                @include social-card;

                &::before {
                    background: $instagram;
                }
            }

            &-yt {
                @include social-card;

                &::before {
                    background-color: $youtube;
                }
            }
        }
    }
}
