@mixin social-name {
    align-items: center;
    color: $dark-grayish-blue;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;

    &--img {
        margin-right: 8px;
    }
}


.main-socials {

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 100px;

        &--title {
            margin-top: 0;
        }
    }

    &__list {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 26px;

        .social {
            align-items: center;
            background-color: $light-grayish-blue;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 250px;
            position: relative;

            &::before {
                content: '';
                height: 4px;
                display: inline-block;
                width: 100%;
                position: absolute;
                top:0;
                border-radius: 8px 8px 0 0 ;
            }

            &-fb {

                &::before {
                    background-color: $facebook;
                }

                &__name {
                    @include social-name;
                }

                &__number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 52px;
                    font-weight: 700;
                    margin: 0;

                    &--folow {
                        color: $dark-grayish-blue;
                        font-size: 14px;
                        font-weight: 400;
                        letter-spacing: 4px;
                    }
                }

                &__status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;

                    &--img {
                        margin-right: 6px;
                    }

                    &--number-green {
                        color: $lime-green;
                        font-weight: 700;
                        font-size: 12px;
                    }

                    &--number-red {
                        color: $bright-red;
                        font-weight: 700;
                        font-size: 12px;
                    }
                }
            }

            &-twit__name {
                @include social-name;
            }

            &-inst__name {
                @include social-name;
            }

            &-yt__name {
                @include social-name;
            }
        }
    }
}
