@mixin social-card {
    &__name {
        align-items: center;
        color: $dark-grayish-blue;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        justify-content: center;

        &--img {
            margin-right: 8px;
        }
    }

    &__number {
        align-items: center;
        color:$very-dark;
        display: flex;
        flex-direction: column;
        font-size: 52px;
        font-weight: 700;
        justify-content: center;
        margin: 0;

        &--folow {
            color: $dark-grayish-blue;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 4px;
        }
    }

    &__status {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        &--img {
            margin-right: 6px;
        }

        &--number-green {
            color: $lime-green;
            font-weight: 700;
            font-size: 12px;
        }

        &--number-red {
            color: $bright-red;
            font-weight: 700;
            font-size: 12px;
        }
    }
}

@mixin card {

        background-color: $light-grayish-blue;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 128px;

        &__title {
            color: $dark-grayish-blue;
            display: flex;
            flex-direction: column;
            font-weight: 700;
            justify-content: space-between;
            margin-left: 16px;

            &--number {
                color: $very-dark;
                font-size: 32px;
            }
        }

        &__stat {

            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: 700;
            justify-content: space-between;
            margin-right: 16px;

            &--green {
                color: $lime-green;
            }

            &--red {
                color: $bright-red;
            }

            &--icon {
                width: 18px;
                height: 18px;
            }

            &--container {
                display: flex;
                align-items: center;
                margin-bottom: 6px;
            }

            &--arrow {
                margin-right: 4px;
            }
        }
}
